build/
/Kontoverwaltung/nbproject/private/
/403_KontoVerwaltung/nbproject/private/
/ProjectEulerExamples/nbproject/private/
/XORDecryption/nbproject/private/
/SudokuSolver/nbproject/private/
/SudokuSolver/dist/